@model WorkshopManager.Models.Part

@{
    ViewData["Title"] = "Szczegóły części";
}

<h1>Szczegóły części</h1>

<div>
    <h4>Część</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Model.UnitPrice.ToString("C")
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edytuj</a>
    <a asp-action="Index" class="btn btn-secondary">Powrót</a>
</div>
