@model WorkshopManager.DTOs.VehicleDto

@{
    ViewData["Title"] = "Szczegóły pojazdu";
}

<h1>Szczegóły</h1>

<div>
    <h4>Pojazd</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Marka</dt>
        <dd class="col-sm-9">@Model.Brand</dd>

        <dt class="col-sm-3">Model</dt>
        <dd class="col-sm-9">@Model.Model</dd>

        <dt class="col-sm-3">VIN</dt>
        <dd class="col-sm-9">@Model.VIN</dd>

        <dt class="col-sm-3">Numer rejestracyjny</dt>
        <dd class="col-sm-9">@Model.LicensePlate</dd>

        <dt class="col-sm-3">Zdjęcie</dt>
        <dd class="col-sm-9">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="@Model.ImagePath" alt="Zdjęcie pojazdu" style="max-width: 300px; max-height: 200px;" />
            }
            else
            {
                <span>Brak zdjęcia</span>
            }
        </dd>

        <dt class="col-sm-3">Klient</dt>
        <dd class="col-sm-9">@Model.Customer?.FirstName</dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edycja</a>
    <a asp-action="Index" class="btn btn-secondary">Powrót</a>
</div>